@import url('https://fonts.googleapis.com/css2?family=Asul:wght@400;700&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

*{
  padding:0;
  margin:0 auto;
  box-sizing: border-box;
}
:root{
    --redish:rgb(160, 12, 49);
    --grayish:rgb(255, 255, 255);
    --whitish:rgba(255, 255, 255, 0.935);
}
body{
    font-family: "Lato", sans-serif;
    background: rgb(30, 18, 18) ;
    opacity:0.8;
    color: var(--whitish);
    margin: 20px;
    padding: 10px 2%;
    border: 1px solid var(--redish);
}
.red{
    color:var(--redish);
}
header{
    position: relative;;
}

header img{
    width: 3%;
    height: 1%;
    border-radius: 40px;
    display: inline-block;
}

h1{
    font-size: 2.5rem;
    display: inline-block;
}


nav{
    display: inline-block;
    font-size: 1.2rem;
    position: absolute;
    right:0;
    white-space: nowrap;
    margin: 20px;
}

nav a{
    text-decoration: none;
    color: var(--whitish);
    margin: 0 15px;
}
#core{
    width:100%;
    padding: 10px;
    position: relative;
    height: 70vh;

   
}

#left{
    font-size: 1.3em;
    line-height: 1.5em;
    display: inline-block;
    position: absolute;
    left: 70px;
    top: 100px;
    width: 40%;
}

#left h2{
    font-size: 2em;
    padding: 20px 0;
}

#left button{
    font-size: 1.1em;
    background-color: var(--redish);
    color: var(--whitish);
    padding: 5px 10px;
    border-radius: 10px;
}

#right {
    position: absolute;
    display: inline-block;
    right:100px;
    top:100px ;

}
#right img{
    height:400px;
    width: 350px;
    opacity: 0.5;
    border-radius: 30px;
}


#types{
    display: grid;
    grid-template: 100px / auto auto auto;
    column-gap: 20px;
    height:200px;
    margin: 20px;
}

#types div{
    width: 300px;
    line-height: 25px;
}

#types h3{
    font-size: 1.5em;
    color: var(--redish);
    padding: 10px;
}

footer{
    text-align: center;
}
